
<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
           
        
    </head>
<ul class="nav navbar-dark justify-content-center bg-dark">
    <li class="nav-item">
        <a class="nav-link active" href="/home">Home</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/customer/loanlist">Loans</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/loanlist">Update-LoanList</a>
    </li>
</ul>
<body>